/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 1px;
    padding: 2px;
    text-align-last: center;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F1FAFB;
}
header {
    background-color:#A0E4F1;
    color: #000000;
    padding: 40px;
    text-align: center;
    
}
search-bar {
    margin-bottom: 10px;
    text-align:justify;
    float:right;
}

#search {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
}

#searchBtn {
    padding: 4px 16px;
    background-color: #9DC6FF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#searchBtn:hover {
    background-color: #555;
} 

header h1 {
    margin-bottom: 10px;
    text-align: center;
}
.navbar{
    display: flex;
    position:fixed;
    text-align: center;
}
nav ul {
    list-style-type: none;
    align-content: center;
}
nav ul li {
    display:inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
    
    
}
main {
    padding: 55px;
}
.aboutsection {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.profile{
    width: 300px;
    margin: 50px;
    padding:15px;
    border: 3px solid #9DC6FF;
    text-align: center;
    color: #000000;
}
.profile img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}
footer {
    background-color: #4993FA;
    color: #fff;
    text-align: center;
    padding: 10px;
    position:fixed;
    bottom: 0;
    width: 100%;
}