/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 1px;
    padding: 2px;
    text-align-last: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: auto;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    text-align: center;
}
.navbar{
    display: flex;
    position:fixed;
    text-align: center;
}

nav ul {
    list-style-type: none;
    align-content: center;
}

nav ul li {
    display:inline-block;
    margin-right: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

main {
    padding: 55px;
}

.book-list {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.book {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

.book img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position:relative;
    bottom: 0;
    width: 100%;
}
header{



header.search-bar {
    margin-bottom: 10px;
    text-align:justify;
    float:right;
}

#search {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
}

#searchBtn {
    padding: 4px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#searchBtn:hover {
    background-color: #555;
} 
}